.box{
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    padding:0px 20px;
    margin: 5px;
    color: gray;
    background-color:wheat;
    background: border-box;

}