line {
    stroke-width: 1px;
    stroke: grey;
}

circle {
    stroke-width: 1px;
    stroke: red;
    fill: none;
    margin-top: 1px;
}

rect {
    stroke-width: 1px;
    stroke: steelblue;
    fill: none;

}

polygon {
    stroke-width: 1 px;
    stroke: green;
    fill: none;

}